{:source-paths ["src"]
 :dev-http {5000 "build/browser"}
 :builds
 {:browser {:target :esm
            :output-dir "build/browser"
            :asset-path "."
            :js-options
            {
            ;;  :js-provider :import
             :js-provider :external
             :external-index "build/browser/js-external.js"
             :external-index-format :esm}
            :modules {:browser-main {:init-fn browser.main/init}}}}}
